* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar-container {
  width: 100%;
  height: 100%;
  background-image: url("../media/header-img.jpeg");
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 40px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-username-div {
  text-align: right;
  margin: 0 40px 0 0;
  color: white;
  font-size: 20px;
  padding: 0 0 5px 0;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  margin: 0 5px 0 0;
  text-align: center;
}

#header-main-title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#header-sub-title {
  font-size: 11.5px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #e4af4f;
}

.unauthorized-content {
  color: black;
  letter-spacing: 10px;
  text-align: center;
  margin: 50px 0;
  margin: 50px 0;
  text-transform: uppercase;
}

.unauthorized-content span {
  font-size: 20px;
}

#unauthorized-main {
  font-size: 50px;
  font-weight: bold;
}

.section {
  max-width: 100%;
  margin: 40px auto;
}

.form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

.button {
  border: none;
  outline: none;
  background: grey;
  padding: 10px 30px;
  font-size: 20px;
  color: #ddd;
  cursor: pointer;
  margin: 10px auto;
  border-radius: 20px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70px;
  gap: 70px;
  padding: 30px 0;
}

.viewer-icon {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#delete-btn-id {
  background-image: url("../media/icons/delete.png");
  width: 45px;
  height: 45px;
}

#prev-btn-id {
  background-image: url("../media/icons/left-arrow.png");
}

#next-btn-id {
  background-image: url("../media/icons/right-arrow.png");
}

#comment-btn-id {
  background-image: url("../media/icons/chat.png");
  width: 50px;
  height: 50px;
}

#add-icon {
  background-image: url("../media/icons/upload.png");
  background-size: 100%;
  object-fit: contain;
}

#signin-icon {
  background-image: url("../media/icons/login.png");
  background-size: 100%;
  object-fit: contain;
}

#signout-icon {
  background-image: url("../media/icons/sign-out.png");
  background-size: 100%;
  object-fit: contain;
}

#register-icon {
  background-image: url("../media/icons/register.png");
  background-size: 100%;
  object-fit: contain;
}

#back-icon {
  background-image: url("../media/icons/back-to-list.png");
  background-size: 100%;
  object-fit: contain;
}

.icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  cursor: pointer;
  margin: 0 10px;
}

input[type="text"] {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
}

.img-viewer {
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 8px rgb(184, 184, 184);
}

.viewer-comp {
  text-align: left;
}

.viewer-comp.title {
  font-size: 23px;
  letter-spacing: 5px;
  font-weight: bold;
  padding: 8px 0;
  padding-top: 20px;
  text-transform: uppercase;
}

.viewer-comp.description {
  padding: 5px 0;
}

.viewer-comp.image {
  text-align: center;
}

.viewer-comp.image img {
  text-align: center;
  transition: transform 0.2s;
}

#img-viewer-screen-id img {
  width: 100%;
  max-height: 800px;
  object-fit: contain;
}

.uploader-profile {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 20px;
}

.uploader-name {
  padding-left: 10px;
}

.uploader-picture {
  width: 50px;
  height: 50px;
  background-image: url("../media/icons/cameraman.png");
  background-size: contain;
}

#img-author {
  font-size: 30px;
  text-align: left;
}

#img-upload-btn {
  cursor: pointer;
}

.comment-wrapper {
  margin-top: 50px;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: #e4af4f;
}

.comments-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 25px;
  color: white;
  text-transform: uppercase;
}

#comments {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-flow: flex-start;
  align-items: center;
  height: 150px;
  margin: 20px 50px 5px 50px;
  border: rgb(188, 188, 188) solid 1px;
  border-radius: 0 20px 20px 20px;
  background-color: white;
}

.comment-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.comment-picture {
  width: 60px;
  height: 60px;
  background-image: url("../media/icons/user.png");
  background-size: contain;
}

.comment-picture img {
  max-width: 100%;
}

.comment-username {
  padding-top: 5px;
}

.comment-content {
  flex: 4;
  width: 500px;
  font-size: 20px;
  justify-content: safe left;
}

.posted-date {
  font-size: 12px;
  text-align: right;
  color: grey;
}

.comment-icon {
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  text-align: left;
}

#delete-comment-icon-id {
  background-image: url("../media/icons/comment-delete.png");
}

#upvote-icon-id {
  color: rgb(0, 91, 0);
  background-image: url("../media/icons/good-face.png");
}

#downvote-icon-id {
  color: rgb(146, 0, 0);
  background-image: url("../media/icons/sad-face.png");
}

#prev-comment-id {
  background-image: url("../media/icons/comment-prev.png");
  width: 40px;
  height: 40px;
}

#next-comment-id {
  background-image: url("../media/icons/comment-next.png");
  width: 40px;
  height: 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-navbar {
  display: inline-block;
}

.form-container {
  max-width: 500px;
  margin: 60px auto;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 8px rgb(184 184 184);
}
.form-container h1 {
  text-align: center;
  color: black;
  margin: 40px auto;
  text-transform: uppercase;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

form .form-input-element {
  margin-bottom: 15px;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
}
.submit-btn {
  width: 50%;
  border: none;
  background: #e4af4f;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

#error-box {
  color: red;
  visibility: hidden;
}

.gallery-list .gallery-item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  cursor: pointer;
}

#prev-gallery-id {
  background-image: url("../media/icons/comment-prev.png");
  width: 40px;
  height: 40px;
}

#next-gallery-id {
  background-image: url("../media/icons/comment-next.png");
  width: 40px;
  height: 40px;
}

.index-p {
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.gallery-p-large {
  font-size: 30px;
  margin: 20px 0;
}

.gallery-p-small {
  font-size: 12px;
  margin: 20px 0;
  cursor: pointer;
}

#error-box::before {
  content: "Error: ";
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

#credit-id {
  color: black;
}

@media only screen and (max-width: 425px) {
  .form-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 0px;
    text-transform: uppercase;
    color: black;
    text-align: center;
  }

  .form-comp p {
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  #header-title {
    font-size: 25px;
  }

  #small-title {
    font-size: 8px;
  }

  #add-icon-id {
    width: 35px;
    height: 35px;
  }

  .uploader-picture {
    width: 40px;
    height: 40px;
  }
  .img-viewer {
    margin: 15px;
  }

  #img-author {
    font-size: 20px;
    text-align: left;
  }
  .comment {
    margin: 20px 30px 5px 30px;
  }

  .comment-user {
    width: 50px;
  }

  .comment-picture {
    width: 30px;
    height: 30px;
  }

  .comment-username {
    font-size: 10px;
  }

  .comment-icon {
    width: 35px;
    height: 35px;
  }

  .comment-content {
    flex: 4;
    width: 500px;
    font-size: 10px;
    justify-content: safe left;
  }

  .posted-date {
    font-size: 8px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 35px;
    padding: 20px 0;
  }
  .form-container {
    max-width: 350px;
  }
  .form-container h1 {
    text-align: center;
    color: black;
    margin: 40px auto;
    text-transform: uppercase;
  }
  .form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
  }
  form .form-input-element {
    margin-bottom: 15px;
  }
  form label {
    display: block;
    margin-bottom: 10px;
  }
  form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
  }
  .submit-btn {
    width: 50%;
    border: none;
    background: #e4af4f;
    font-size: 18px;
    color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    align-self: center;
  }

  .navbar-username-div {
    text-align: right;
    margin: 0 40px 0 0;
    color: white;
    font-size: 15px;
    padding: 0 0 5px 0;
  }

  #header-main-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  #header-sub-title {
    font-size: 8px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .icon {
    width: 30px;
    height: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
    margin: 0 15px;
  }

  #gallery-intro-phrase {
    font-size: 25px;
    margin: 20px 0;
  }

  .gallery-p-small {
    font-size: 5px;
    margin: 20px 0;
    cursor: pointer;
  }

  .index-p {
    font-size: 15px;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  #upvote-icon-id,
  #downvote-icon-id,
  #delete-comment-icon-id {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin: 0 5px;
    font-size: 10px;
  }
}
